@model SCRIPTERS.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    Layout = null;
}

<span class="login100-form-title p-b-53">
    Create A New Account With 
</span>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
            <div style="text-align:center;">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                       
                            if (p.AuthenticationType.Equals("Facebook"))
                            {
                            <button type="submit" class="btn-face m-b-20" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                                <i class="fa fa-facebook-official"></i>
                                @p.AuthenticationType
                            </button>
                            }
                            if (p.AuthenticationType.Equals("Google"))
                            {
                            <button type="submit" class="btn-google m-b-20" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                                <img src="~/Content/images/icons/icon-google.png" alt="GOOGLE">
                                @p.AuthenticationType
                            </button>
                            }

                        
                        @*<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>*@
                    }



            </div>
            </div>
        }
    }
}
